@font-face {
  font-family: 'PantonBlackCaps';
  src: url("../fonts/Panton/PantonBlackCaps.eot") format("embedded-opentype"), url("../fonts/Panton/PantonBlackCaps.woff2") format("woff2"), url("../fonts/Panton/PantonBlackCaps.woff") format("woff"), url("../fonts/Panton/PantonBlackCaps.ttf") format("truetype"), url("../fonts/Panton/PantonBlackCaps.svg") format("svg"); }

@font-face {
  font-family: 'PantonLightCaps';
  src: url("../fonts/Panton/PantonLightCaps.eot") format("embedded-opentype"), url("../fonts/Panton/PantonLightCaps.woff2") format("woff2"), url("../fonts/Panton/PantonLightCaps.woff") format("woff"), url("../fonts/Panton/PantonLightCaps.ttf") format("truetype"), url("../fonts/Panton/PantonLightCaps.svg") format("svg"); }

a {
  text-decoration: none; }
  a:hover, a:focus, a:active {
    outline: none; }

ul {
  list-style-type: none; }

.block_title {
  color: #fff;
  font-size: 3.5em;
  text-align: center;
  margin-top: 15px; }

.p0 {
  padding: 0; }

.align-left {
  text-align: left; }

.align-right {
  text-align: right; }

.header_avto h2 {
  text-align: right; }

.header_form {
  height: 408px;
  position: relative;
  float: right;
  width: 25%;
  margin-top: 4px;
  font-size: 12px;
  letter-spacing: 2px;
  margin: auto;
  border: 7px solid #ffec00;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  background-color: #0a0a0a; }
  .header_form h2 {
    padding: 27px 10px 25px 10px;
    margin: 0;
    color: #ffec00;
    font-size: 16px;
    text-align: right;
    font-family: "PantonLightCaps"; }
    .header_form h2 b {
      font-size: 23px;
      font-family: "PantonBlackCaps"; }
  .header_form input {
    width: 81%;
    background-color: #eeefea;
    line-height: 44px;
    margin-left: 25px;
    margin-bottom: 25px;
    border: none; }
  .header_form button {
    background-color: #ffec00;
    border: none;
    width: 81%;
    margin-left: 25px;
    margin-top: -3px; }

.razdelitel_img {
  height: 227px;
  width: 1170px;
  background-image: url("../img/razdelitel.png");
  background-size: cover; }

h2 {
  font-family: "PantonLightCaps";
  font-size: 38px;
  text-transform: uppercase;
  text-align: center; }

b {
  font-family: "PantonBlackCaps";
  font-size: 39px;
  text-transform: uppercase; }

.howto {
  width: 100%; }
  .howto__item {
    float: left;
    width: 33.3%;
    text-align: -webkit-center; }
    .howto__item:after {
      content: "";
      width: 29px;
      height: 52px;
      background-image: url("../img/arrow.png");
      background-repeat: no-repeat;
      position: absolute;
      top: 50%;
      right: -29px;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
    .howto__item_thumb {
      width: 125px;
      height: 125px;
      -webkit-border-radius: 66px;
              border-radius: 66px;
      background-color: #898989; }
      .howto__item_thumb img {
        position: relative;
        margin-left: 8px;
        margin-top: 20px; }
  .howto .howto_column_2 .howto__item_thumb {
    height: 161px;
    width: 161px;
    -webkit-border-radius: 80px;
            border-radius: 80px;
    background-color: #898989; }
    .howto .howto_column_2 .howto__item_thumb img {
      position: relative;
      margin-left: -2px;
      margin-top: 12px; }
  .howto .howto_column_3 img {
    position: relative;
    margin-left: 0;
    margin-top: 20px; }
