a {
	text-decoration: none;
	&:hover, &:focus, &:active{
		outline: none;
	}
}

ul {
	list-style-type: none;
}

.block_title {
	
	
}

.p0  {
	padding: 0;
}

.align-left {
	text-align: left;
}
.align-right {
	text-align: right;
}






